{% import "_includes/forms" as forms %}
<style>
  .setting-is-disabled { font-size: 11px; font-style: italic; color: #999; }
</style>

<div class="field" id="mcsubApikey-field">
  <div class="heading">
    <label for="mcsubApikey">API Key</label>
		<p class="instructions">Create it in your MailChimp account</p>
  </div>
	<div class="input">
		<input class="text fullwidth" type="text" id="mcsubApikey" name="mcsubApikey" value="{% if config_settings.mcsubApikey is not null %}{{ config_settings.mcsubApikey }}{% else %}{{ settings.mcsubApikey }}{% endif %}"{% if config_settings.mcsubApikey is not null %} disabled="disabled"{% endif %}>
    {% if config_settings.mcsubApikey is not null %}
      <p class="setting-is-disabled">This setting has been configured in the config file.</p>
    {% endif %}
	</div>
</div>

<div class="field" id="mcsubListId-field">
  <div class="heading">
    <label for="mcsubListId">List ID</label>
		<p class="instructions">ID to the list you want to sign up to.</p>
  </div>
	<div class="input">
		<input class="text fullwidth" type="text" id="mcsubListId" name="mcsubListId" value="{% if config_settings.mcsubListId is not null %}{{ config_settings.mcsubListId }}{% else %}{{ settings.mcsubListId }}{% endif %}"{% if config_settings.mcsubListId is not null %} disabled="disabled"{% endif %}>
    {% if config_settings.mcsubListId is not null %}
      <p class="setting-is-disabled">This setting has been configured in the config file.</p>
    {% endif %}
	</div>
</div>

{{ forms.lightswitchField({
        label: "Double Opt-In"|t,
        instructions: "Optional flag to control whether a double opt-in confirmation message is sent, defaults to <code>true</code>. <em>Abusing this may cause your account to be suspended.</em>"|t,
        id: 'mcsubDoubleOptIn',
        name: 'mcsubDoubleOptIn',
        on: settings.mcsubDoubleOptIn,
        autofocus: false,
        required: false
    })
}}

